{% extends 'layouts/index.html' %}

{% block content %}
   <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 1280px;
            gap: 20px;
            margin: 0 auto;
            padding: 30px;
            flex-wrap: wrap;
        }
    </style>
    <div class="products">
        {% for prodcut in products %}
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ product.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ prodcut.title }}</h5>
                    {% for Category in products.categories.all %}
                        <p> {{ Category.title }}</p>
                    {% endfor %}
                    <a href="/products/{{ products.id }}/" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}